
body {
    padding: 30px 15% 0px;
}

.loaded-values {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.download-type-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    justify-items: center;
}

.download-btn {
    margin-top: 50px;
}

#progress-bar {
    margin-top: 30px;
    display: none;
}

#download-progress-terminal {
    height: 70vh;
    overflow: scroll;
    display: none;
}

#album-art {
    display: none;
    height: 30vh;
}

.album-art-container {
    display: grid;
    justify-content: center;
}
